<!DOCTYPE html>
<html>
<head>
    <title>Login Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">
        <h3>🔐 Login Admin</h3>
        <p>Masuk sebagai panitia pemilihan</p>

        <form method="post">
            <input name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>

        <a href="/">⬅ Kembali ke Beranda</a>
    </div>
</div>

</body>
</html>
